
@{
    ViewData["Title"] = "Songmaker";
}
<audio preload="auto" class="audio"></audio>

<div class="row">
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
    <div id="note_blk" class="col-sm"></div>
</div>