@{
    ViewData["Title"] = "Favourites";
}
@if (User.Identity.IsAuthenticated)
{ 
    <div>
        <h2 id="tabletitle">Favourites:<img id="edit" onclick="makeEditable()" /></h2>
    </div>
<div class="input-group">
    <form method="post" action="delete_fav.php">
        <input id="filename" name="filename" type="text" class="form-control" placeholder="File Name" />
        <button id="deleteButton" type="submit" class="btn btn-primary">Remove</button>
    </form>
</div>

<table class="table table-striped table-dark">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Tags</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

}
